@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Purple-100: #dacffc;
 --Purple-500: #7650dc;

 --Yellow-100: #f9eee1;
 --Yellow-500: #ffcb6b;

 --White: #ffffff;
 --Black: #121212;

 --font-Weight-semi-bold:400;
--font-Weight-bold:500;
}
/*Reset Start*/
body{
  font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto;
}

p{
    font-size: 18px;
}
img{
    width: 100%;
}
/*Reset End*/
.continar{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1.5fr);
    gap: 2rem;

}
.reset-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 12px;
}


/**1**/
.schedule_content{
    background-color: var(--Yellow-100);
    grid-row: span 2;
}


.social_media_ai{
    grid-column: 2 / 4;
    background-color: var(--Purple-500);
    color: white;
    
}
.social_media_ai img{
    width: 50%;
}

/**2**/

.social_media_ai span{
font-weight: var(--font-Weight-semi-bold);
    color: var(--Yellow-500);
}.social_media_ai strong{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}

.h1_heading{
    text-align: center;
    font-size: 48px;

}


/**3**/
.schedule_media{
    background-color: var(--Purple-100);
    grid-row: span 2;
    overflow: hidden;
}
.schedule_media_img{
        left: 77px;
    position: relative;
    width: 20rem;
}


/**4**/
.your_ai_content{
    background-color: var(--Yellow-500);
    grid-row: 3/6;
}


/**6**/
.posting{
    background-color: var(--Yellow-500);
    overflow: hidden;
}

.posting__schedule{
    position: relative;
    top:  67px;
}


.followers{
    background-color: var(--Purple-500);
    grid-column: span 2;
    flex-direction: row;
    color: white;
}

.grow_followers{
    width: 50%;
}

@media (max-width: 375px) {
    .continar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(11,0.5fr);
    gap: 2rem;

}

.schedule_content{
    grid-row: 10 / 11;
}

.social_media_ai{
        grid-row: 1 / 3;
        grid-column: auto;
}
    .your_ai_content {
           grid-row: 11 / 12;
    }
.posting{
        grid-row: 4 / 5;
}
.growth {
grid-row: 9 / 10;
}

.followers{
grid-row: 7 / 9;
        grid-column: auto;
            flex-direction: column;

}

.schedule_media{
    grid-row: 5/ 7;
}
.accounts {
        grid-row: 3 / 4;
}

img{
    width: 50%;
}
.schedule_media_img{
    left: 0;
}

p, h1 {
    text-align: center;
}
.reset-div{
    padding: 16px;
}
}